* {
	margin: 0;
}
h2 {
	color:#000000;
}
body {
	background-color:f9fffa;
	font-family:'Sagoe UI';
	font-size:20px;
	font-weight: 400px
}
img {
	margin-bottom: : 1em;
}
.form-field {
	border: 1px solid #ced4da;
	border-radius: 1em;
	padding: 0.75em;
	width:100%;
}

.pilih {
	border: 1px solid #ced4da;
	border-radius: 1em;
	padding: 0.4em;
	width:100%;
}

label {
	display:block;
	margin-bottom: 0.5em;
}
.mb {
	margin-bottom: 1em;
}
.text-center {
	text-align: center;
}
.container {
	margin: 0 auto;
	max-width: 720px;
	padding: 0 15px;
}

.mb, .my { margin-bottom: 1rem; }
.mt, .my { margin-top: 1rem; }
.ml, .mx { margin-left: 1rem; }
.mr, .mx { margin-right: 1rem; }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }

.pb, .py { padding-bottom: 1rem; }
.pt, .py { padding-top: 1rem; }
.pl, .px { padding-left: 1rem; }
.pr, .px { padding-right: 1rem; }